<!DOCTYPE html>
<html>
<head>
  <title>rails-react-webpack</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'modernizr' %>
  <%= javascript_include_tag 'application' %>
  <%= webpack_manifest_script %>
  <%= webpack_bundle_tag 'main' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

